header {
    height: var(--header-height);
    background-color: var(--white);
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: var(--header-nav-height);
    border-bottom: 2px solid darkgray;
    background: url(../assets/header/title.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.header-text {
    display: flex;
    align-items: center;
    height: var(--header-text-height);
    position: relative;
    z-index: 2;
}

.header-text ul {
    display: flex; 
    list-style: none; 
    padding: 0;
    margin: 0;
}

.header-text ul li {
    display: inline-block; 
    margin-left: 30px;
    cursor: pointer; 
    transition: color 0.3s ease;
}

.header-text ul li:hover {
    color: darkgray; 
}

.burger-menu {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 3;
}

#menu__toggle {
    opacity: 0;
}
.menu__btn {
    display: flex;
    align-items: center;  
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 4;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 2;
}
.menu__item {
    display: block;
    padding: 12px 24px;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .25s;
}
.menu__box {
    transition-duration: .25s;
}
.menu__item {
    transition-duration: .25s;
}

@media screen and (max-width: 1024px) {
    .header-text ul {
        display: none; 
    }

    .burger-menu {
        margin-left: 20px;
        display: block; 
    }
}
