
.tag-us {
    height: var(--main-tag-us-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.tag-us h3 {
    font-size: 30px;
    font-weight: 700;
    color: #3A3A3A;
}

.tag-us h5 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tag-us-images {
    height: var(--main-tag-us-img-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.tag-us-images img {
    height: var(--main-tag-us-img-height);
    width: var(--main-tag-us-img-width);
    padding: 10px;
}

#tag-us-progress-img {
    height: 11px;
    width: 233px;
}